* {
    font-family: 'Inter', sans-serif;
}

.fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.fade.show {
    opacity: 1;
    visibility: visible;
}